@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #45ce89;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #45ce89;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.logo {
  width: 80px;
  height: auto;
}

h1, h2 {
  font-family: 'Merriweather', serif;
  margin: 0.5rem 0;
}

main {
  padding: 1rem 2rem;
}

section {
  margin-bottom: 2rem;
  background-color: #FFC8CB;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
    width: 200px;
    height: 220px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #45ce89;
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(231, 226, 231, 0.034);
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #45ce89;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.logo {
  width: 80px;
  height: auto;
}

h1, h2 {
  font-family: 'Merriweather', serif;
  margin: 0.5rem 0;
}

main {
  padding: 1rem 2rem;
}

section {
  margin-bottom: 2rem;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
    width: 200px;
    height: 220px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #45ce89;
  color: white;
}